# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Normal
.project
.settings
package-lock.json
node_modules/
logs/
Cartfile.resolved
UserInterfaceState.xcuserstate
coverage/
screenshots/
reports/
reporter/
package/
pods/

*.sw*
*.un~
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
